
*.pickle
*.pkl
glove.6B.zip
glove.6B.50d.txt
glove.6B.300d.txt
glove.6B.200d.txt
glove.6B.100d.txt
2. BiDAF-optim0results.ipynb
2. BiDAF-Copy1.ipynb
2. BiDAF-optim3results.ipynb
results_notebooks/.ipynb_checkpoints/2. BiDAF-optim0results-checkpoint.ipynb
results_notebooks/.ipynb_checkpoints/2. BiDAF-optim3results-checkpoint.ipynb
.ipynb_checkpoints/2. BiDAF-optim3results-checkpoint.ipynb
.ipynb_checkpoints/2. BiDAF-optim0results-checkpoint.ipynb
3. QANet.ipynb
2. BiDAF.ipynb
3. QANet-optim5.ipynb
3. QANet.ipynb
qanetglove_vt.npy
qanetglove_vt.npy
bidafglove_tv.npy
3. QANet.ipynb
2. BiDAF.ipynb
.ipynb_checkpoints/3. QANet-optim5-checkpoint.ipynb
.ipynb_checkpoints/3. QANet-checkpoint.ipynb
weight_decay_increased_optimizer_Default_hiddenSize.pth
results/display_results.ipynb
results/display_results.ipynb
